detect_delimiter
Flask==2.2.5
matplotlib==3.6.0
matplotlib-inline==0.1.6
numpy     
opencv-python
pandas
scikit-learn
torch_geometric==2.4.0
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
open3d


